@{
    var ProjectContext = ViewBag.Project as Project;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/admin-lte/2.3.8/css/AdminLTE.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/admin-lte/2.3.8/css/skins/_all-skins.min.css">

    <script defer src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script defer src="//cdn.bootcss.com/jquery-validate/1.15.0/jquery.validate.min.js"></script>
    <script defer src="//cdn.bootcss.com/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script defer src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script defer src="//cdn.bootcss.com/admin-lte/2.3.8/js/app.min.js"></script>
    <script defer src="~/site.js"></script>

    <title>@ViewBag.Title</title>
</head>
<body class="skin-blue">
    <div class="wrapper">
        <header class="main-header">
            <a class="logo" href="/">
                <span class="logo-mini">G</span>
                <span class="logo-lg">Gitdoko</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    @if ( User.Identity.IsAuthenticated )
                    {
                        @*var currentUserName = User.Identity.Name;

                        <ul class="app-bar-menu small-dropdown">
                            <li>
                                <a>
                                    <span class="mif-bubbles"></span> Notifications
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Profile" asp-action="Projects" asp-route-userName="@currentUserName" class="dropdown-toggle">
                                    <span class="mif-lab"></span> Projects
                                </a>
                                <ul class="d-menu" data-role="dropdown">
                                    <li>
                                        <a asp-controller="Profile" asp-action="Projects" asp-route-userName="@currentUserName">
                                            My Projects
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Project" asp-action="Create">
                                            <span class="mif-plus"></span> Create New
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a asp-controller="Profile" asp-action="Issues" asp-route-userName="@currentUserName" class="dropdown-toggle">
                                    <span class="mif-question"></span> Issues
                                </a>
                                <ul class="d-menu" data-role="dropdown">
                                    <li>
                                        <a asp-controller="Profile" asp-action="Issues" asp-route-userName="@currentUserName">
                                            My Issues
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Profile" asp-action="InvolvedIssues" asp-route-userName="@currentUserName">
                                            <span class="mif-users"></span> Involved Issues
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a asp-controller="Profile" asp-action="PullRequests" asp-route-userName="@currentUserName" class="dropdown-toggle">
                                    <span class="mif-flow-branch"></span> Pull Requests
                                </a>
                                <ul class="d-menu" data-role="dropdown">
                                    <li>
                                        <a asp-controller="Profile" asp-action="PullRequests" asp-route-userName="@currentUserName">
                                            My Pull Requests
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Profile" asp-action="InvolvedPullRequests" asp-route-userName="@currentUserName">
                                            <span class="mif-users"></span> Involved Pull Requests
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="place-right">
                            <div class="app-bar-divider"></div>
                            <ul class="app-bar-menu small-dropdown">
                                <li>
                                    <a class="dropdown-toggle">
                                        <span class="mif-user"></span> @currentUserName
                                    </a>
                                    <ul class="d-menu place-right" data-role="dropdown">
                                        <li>
                                            <a asp-controller="Profile" asp-action="Index" asp-route-userName="@currentUserName">
                                                <span class="mif-contacts-mail"></span> View My Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Account" asp-action="Settings">
                                                <span class="mif-cog"></span> Settings
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Account" asp-action="SignOut">
                                                <span class="mif-switch"></span> Sign Out
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>*@
                    }
                    else if ( Context.Request.Path != "/SignIn" && Context.Request.Path != "/SignUp" )
                    {
                        <ul class="nav navbar-nav">
                            <li class="app-bar-divider"></li>
                            <li class="dropdown user user-menu">
                                <a class="dropdown-toggle" data-toggle="dropdown" asp-controller="Account" asp-action="SignIn">
                                    Sign In
                                    <i class="glyphicon glyphicon-log-in"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    @*<li class="user-header">
                                        Sign in yeah..
                                    </li>*@
                                    <li class="user-body">
                                        @await Html.PartialAsync("SignInPartial", new SignInViewModel())
                                    </li>
                                    @*<li class="user-footer">
                                        Boom
                                    </li>*@
                                </ul>
                            </li>
                        </ul>
                    }
                </div>
            </nav>
        </header>
        @if ( ProjectContext != null )
        {
            <aside class="main-sidebar">
                <section class="sidbar">
                    <ul class="sidebar-menu">
                        <li>
                            <a asp-controller="Profile" asp-action="Index">@ProjectContext.Creator.UserName</a>
                            /
                            <a asp-controller="Project" asp-action="Home">@ProjectContext.Name</a>
                        </li>
                        <li>
                            <a asp-controller="Project" asp-action="Home">
                                <span class="icon mif-home"></span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Issue" asp-action="Index">
                                <span class="icon mif-question"></span>
                                Issues
                            </a>
                        </li>
                        <li>
                            <a asp-controller="PullRequest" asp-action="Index">
                                <span class="icon mif-flow-branch"></span>
                                Pull Requests
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Label" asp-action="Index">
                                <span class="icon mif-tags"></span>
                                Labels
                            </a>
                        </li>
                    </ul>
                </section>
            </aside>
        }
        <div class="content-wrapper">
            <section class="content-header"></section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
    </div>
</body>
</html>
