@model IEnumerable<Topic>

<div class="listview-outlook">
    @foreach ( var topic in Model )
    {
        <div class="list">
            <div class="list-content">
                <span class="list-title">
                    <a asp-action="Details" asp-route-topicNumber="@topic.TopicNumber">@topic.Summary</a>
                </span>
                <span class="list-subtitle">
                    #@topic.TopicNumber by <a asp-controller="Profile" asp-action="Index" asp-route-userName="@topic.Creator">@topic.Creator</a>
                </span>
                <span class="list-remark">
                    Created on @topic.CreatedOn.ToLocalTime()
                </span>
            </div>
        </div>
    }
</div>
